v16
DesignTimeBuild
*.dll
/CSharp/IntoTheCode/bin/Debug/*.pdb
/CSharp/IntoTheCode/bin/Debug/IntoTheCode.xml
Debug
/CSharp/IntoTheCodeDoc/obj
/WebMarkdown/system/config/user.ini
/CSharp/IntoTheCodeDoc/bin/Doc
/WebMarkdown/byg.bat
/CSharp/IntoTheCode/*.user
*.user
/WebMarkdown/content/4-doc/classes.txt
/CSharp/IntoTheCode/obj/Release
/CSharp/IntoTheCodeExample/obj/Release
/CSharp/IntoTheCodeUnitTest/obj/Release
/CSharp/TestApp/obj/Release
